<p id="notice"><%= notice %></p>

<h1>Tournament Participations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tournament</th>
      <th>Status</th>
      <th>Score</th>
      <th>Nb won game</th>
      <th>Nb lose game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament_participations.each do |tournament_participation| %>
      <tr>
        <td><%= tournament_participation.user_id %></td>
        <td><%= tournament_participation.tournament_id %></td>
        <td><%= tournament_participation.status %></td>
        <td><%= tournament_participation.score %></td>
        <td><%= tournament_participation.nb_won_game %></td>
        <td><%= tournament_participation.nb_lose_game %></td>
        <td><%= link_to 'Show', tournament_participation %></td>
        <td><%= link_to 'Edit', edit_tournament_participation_path(tournament_participation) %></td>
        <td><%= link_to 'Destroy', tournament_participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament Participation', new_tournament_participation_path %>
