<p id="notice"><%= notice %></p>

<p>
  <strong>From user:</strong>
  <%= @ask_for_game.from_user_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @ask_for_game.to_user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ask_for_game.status %>
</p>

<%= link_to 'Edit', edit_ask_for_game_path(@ask_for_game) %> |
<%= link_to 'Back', ask_for_games_path %>
