<script type="text/template" id="live-template">
	<%= stylesheet_link_tag "style-live-play.css" %>
	
	<div class="container-fluid container-live-play">
		<div class="row">
			<div class=" active_game">

				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Active match</th>
						</tr>
					</thead>
					<tbody>
					<% hosts = AskForGame.all%>
					<% hosts.each do |host| %>
				  		<tr>
							<td>
								<% if (host.from_user_id != nil && host.status == "playing") %>
								<a class="dropdown-item" id=<%= host.from_user_id%> onclick="save_watch(<%=host.from_user_id%>)"> <%=User.find(host.from_user_id).name %></a>
								<% end %> 
							</td>
						  </tr> 
					<% end %>
					
						  <!-- faire une iteration de toute les games ici qui donne les playing -->
				  		<tr>
							<td><a href="#link_to_the_game">Didier VS helenne</a></td>
				  		</tr>
				  		<tr>
				  			<td></td>
				  		</tr>
					</tbody>
			  </table>

	    	</div>
	    	<div class="col text-center"  id ="pong-area">
	      		<h1>Le live pong</h1>
	    	</div>
			<div class="col chat" id="chat_area">


	    	</div>
		</div>
		  
	</div>
</script>


<script>

var current = <%== current_user.id%>;


function save_watch(host_id)
{
    var Watch = Backbone.Model.extend({
        urlRoot: '/watches'
    })
	var  watch = new Watch();
	function modify()
	{
		watch.set({hostId: host_id});
		watch.save();
		console.log("modifié");
		setTimeout(() => {pongWatch.setElement("#pong-area").render();}, 1000);

	}
    watch.fetch({data: {user_id: current}, success: modify});
}
</script>