<script type="text/template" id="log-template">
<%= stylesheet_link_tag "style-log.css" %>

<div class="container-1">
	<h3> User: </h3>
	<div>
	<button class="bt" id="add-user">ADD</button>
	<button class="bt"  id="delete-user">DELETE</button>
	</div>
	<% @users.each do |user| %>
		<div class="container-2">
			<div> <%= user.name %> </div>
			<img src="<%= user.avatar %>" style="width: 100px;"> </img>
			<div> <%= user.current_status %> </div>
			<div> <%= user.points %> </div>
			<div> <%= user.is_admin %> </div>
		</div>
	<% end %>
</div>
</script>

