<script type="text/template" id="option-template">
<%= stylesheet_link_tag "style-edit_profile.css" %>

<<<<<<< HEAD
<div class="param_form">
	<form class="param_form">
		<div class="form-group">
			<label for="exampleInputEmail1">Enter a new pseudo</label>
			<input type="text" class="form-control" id="inputPseudo" placeholder="Enter pseudo">
		</div>
		<div class="form-group">
			<label for="inputFile">Select your avatar</label>
			<div class="box_upload">
				<svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
				</svg>
				<input type="file" class="form-control-file" id="inputFile">
			</div>
		</div>
		<div class="form-group">
			<p>Secure authentification</p>
=======
<div class="edit_profile_view-container">
    <div class="form-container">

		<!-- Title -->
		<div class="form-title">
            <h2>Edit profile</h2>    
        <div/>
		
		<br>
		
		<div class="form-fields">
            <form id="edit_profile_form">
				
				<!-- Pseudo -->
				<div class="form-group">
					<label for="pseudo_input">Pseudo</label>
					<input type="text" class="form-control" id="pseudo_input" value="<%= current_user.name %>">
				</div>

                <br>

				<!-- Avatar -->
				<div class="form-group">
					<label for="avatar_input">Avatar</label>
					<input type="file" class="form-control-file" id="avatar_input">
				</div>
		
                <br>

				<!-- Double Factor Auth Checkbox -->
				<div class="form-check">
				<% if current_user.enabled_two_factor_auth == true %>
					<input type="checkbox" class="form-check-input" id="google_authenticator_checkbox" checked="checked">
				<% else %>
					<input type="checkbox" class="form-check-input" id="google_authenticator_checkbox">
				<% end %>
					<label class="form-check-label <%= current_user.enabled_two_factor_auth == true ? "active" : "" %>" for="google_authenticator_checkbox">Google Authenticator</label>
				</div>
					
                <br>

				<!-- Submit -->
                <button type="submit" id="edit_profile_form_submit" class="btn btn-primary">Save profile</button>
		
			</form>
		<div/>
	</div>

	<br>
	<br>

	<%# if current_user.enabled_two_factor_auth == true %>
		<!-- Double Factor Auth Modal -->
		<div class="edit-profile-modal-btn">
			<p>Generate QR code for Google Authenticator</p>
>>>>>>> 5057d05b991dff8fa8de22a56371e067a2b1732b
			<div class="box-auth">
				<button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#modalGoogle">
					<img src="<%= image_url('google.png') %>" width="60em" height="60em" alt="" class="profil profil-photo">
				</button>
			</div>
		</div>
<<<<<<< HEAD
		<div class="validate-btn"> 
			<button type="button" class="btn btn-primary btn-lg btn-block btn-dark">Validate</button>
		</div>
	</form>
=======
	<%# end %>

>>>>>>> 5057d05b991dff8fa8de22a56371e067a2b1732b
</div>

<!-- Google Modal -->
<div class="modal fade" id="modalGoogle" tabindex="-1" role="dialog" aria-labelledby="modalGoogle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Google authentification</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<%= stylesheet_link_tag "style-qrcode.css" %>
				<% require "rqrcode" %>
				<% @qr = RQRCode::QRCode.new(current_user.provisioning_uri("Transcendence"), :size => 13, :level => :h ) %>
				
				<table class="qr">
					<% @qr.modules.each_index do |x| %>
						<tr>
							<% @qr.modules.each_index do |y| %>
								<% if @qr.qrcode.checked?(x,y) %>
									<td class="black"/>
								<% else %>
									<td class="white"/>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

</script>
