<%= stylesheet_link_tag "style-sign-in.css" %>

<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" id="logo">
			<img src="<%= image_url('logo_1.png') %>" width="70" height="70" alt="">
		</a>
	</div>
</nav>

<div class="container-fluide body-page" id="inside-page">
	<div class="container">
		<button type="button" id="sign_in" class="btn btn-primary btn-lg btn-block btn-dark">Sign in</button>
		<button type="button" id="fake_sign_in" class="btn btn-primary btn-lg btn-block btn-dark">Fake sign</button>
	</div>
</div>

<script>

console.log("Rails.env: " + '<%= Rails.env %>');
$( "#sign_in" ).on( "click", function() {
	console.log("SIGN IN");
	let http 			= '<%= ENV["http"] %>';
	let client 			= '<%= ENV["client"] %>';
	let redirect 		= '<%= ENV["redirect"] %>';
	let response_type 	= '<%= ENV["response_type"] %>';
	let scope 			= '<%= ENV["scope"] %>';
	let state 			= '<%= ENV["state"] %>';
	let full 			= http + client + redirect + response_type + scope + state;
	console.log("redirect: " + redirect);
	console.log("full: " + full);
	window.location.href = full;
});

$( "#fake_sign_in" ).on( "click", function() {
	console.log("FAKE SIGN IN");
	$.ajax({
			url: "/?id=1&type=fake",
			data: false,
			processData: false,
			contentType: false,
			type: 'GET',
			success: function(){
				window.location.href = '<%= ENV["url"] %>';
			}
		})
});

</script>
