<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_title.user_id_id %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @user_title.tournament_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user_title.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_title.status %>
</p>

<%= link_to 'Edit', edit_user_title_path(@user_title) %> |
<%= link_to 'Back', user_titles_path %>
