<p id="notice"><%= notice %></p>

<h1>Ask For Wars</h1>

<table>
  <thead>
    <tr>
      <th>From guild</th>
      <th>To guild</th>
      <th>Terms</th>
      <th>Includes ladder</th>
      <th>War</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ask_for_wars.each do |ask_for_war| %>
      <tr>
        <td><%= ask_for_war.from_guild_id %></td>
        <td><%= ask_for_war.to_guild_id %></td>
        <td><%= ask_for_war.terms %></td>
        <td><%= ask_for_war.includes_ladder %></td>
        <td><%= ask_for_war.war_id %></td>
        <td><%= ask_for_war.status %></td>
        <td><%= link_to 'Show', ask_for_war %></td>
        <td><%= link_to 'Edit', edit_ask_for_war_path(ask_for_war) %></td>
        <td><%= link_to 'Destroy', ask_for_war, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ask For War', new_ask_for_war_path %>
