<%= form_with(model: user_achievement, local: true) do |form| %>
  <% if user_achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_achievement.errors.count, "error") %> prohibited this user_achievement from being saved:</h2>

      <ul>
        <% user_achievement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :achievement_id %>
    <%= form.text_field :achievement_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
