<p id="notice"><%= notice %></p>

<p>
  <strong>User1:</strong>
  <%= @friendship.user1_id %>
</p>

<p>
  <strong>User2:</strong>
  <%= @friendship.user2_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @friendship.status %>
</p>

<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', friendships_path %>
