<html>
<head>
  <title>Pong Contest</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag "style-header.css" %>

</head>
<body>
    <div id="test-test"></div>
    bonjour
</body>

<script>
var TestView = Backbone.View.extend({
    el : '#test-test',
    events : {
        'click #test-test' : 'clickLive',
        'mouseover #test-test' : 'onMouseover'
    },

    initialize : function() {
    /*    this.template = _.template($('.room_members-template').html());*/
        console.log("View created");
    },

    clickLive : function() {
        console.log("Click !");
        this.render();
    },

    onMouseover : function(event) {
        console.log("Get out !");
    },

    render : function() {
        var that = this;
   /*     this.$el.empty().append('<h2>test test test</h2>');*/
        that.$el.html('<h2>test test test</h2>');
        console.log("Render");
    }
});

var view = new TestView();

var TestRouter = Backbone.Router.extend({
    routes: {
      '': "ft_1",
    },
  
    ft_1: function() {
        view.render();
    },
  });

var router = new TestRouter();
Backbone.history.start();
</script>
