<script type="text/template" id="chat_create-template">
	<div class="create_chat_header">
		<a id="back_to_main_chat" >
			<svg width="2.25em" height="2.25em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
	  		</svg>
		</a>
		<h2>Create a channel</h2>

	</div>

	<div class="create_chat_body">
		<form>
			<div class="form-group">
				<label for="ChannelName">Channel Name</label>
				<input type="text" class="form-control" id="inputChannelName">
			</div>

			<div class="form-group">
				<label for="inputStatus">Channel status</label>
				<select class="form-control form-control-md" id="selectScope">
					<option>protected</option>
					<option>private</option>
					<option>public</option>
				</select>
			</div>

			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" id="inputCreatePassword" class="form-control" aria-describedby="passwordHelpBlock">
				<small id="passwordHelpBlock" class="form-text text-muted">
					Your password must be 8-20 characters long, used only for private channel
				</small>
			</div>

			<div class="form-group">
				<button type="button" onclick="ft_create_group()" class="btn btn-primary mb-2 btn-dark">Create</button>
			</div>
		</form>
	</div>

	<div class="create_chat_footer">
	</div>
	<script type="text/javascript">
		function ft_create_group()
		{
			var channel_name = $("#inputChannelName").val();
			var channel_scope = $("#selectScope").val();
			var pwd = $("#inputCreatePassword").val();
			if (channel_scope == "protected" && pwd.length == 0)
			{
				Swal.fire({
					icon: "error",
					title: "Ooopsss",
					text: "A password is needed for protected scope"
				});
				return;
			}
			var Channel = Backbone.Model.extend({
				urlRoot: "/channels"
			});
			var channel = new Channel();
			var data = {};
			data["name"] = channel_name;
			data["scope"] = channel_scope + "-group";
			if (channel_scope == "protected")
				data["password"] = pwd;
			data["owner_id"] = <%== current_user.id %>;
			channel.save(data,
			{
				success: function(){
					Swal.fire({
						icon: "success",
						title: "Great !",
						showConfirmButton: false,
						timer: 2000,
						text: "group created !"
					});
					var notification = new Notification({
						from_user_id: <%== current_user.id %>,
						user_id: <%== current_user.id %>,
						table_type: "information",
						message: "group " + channel_name + " created !"
					});
					notification.save();
					var notification = new Notification({
						from_user_id: <%== current_user.id %>,
						user_id: <%== current_user.id %>,
						table_type: "information",
						message: "you got added to group: " + channel_name
					});
					notification.save();
					$("#inputChannelName").val('');
					$("#inputCreatePassword").val('');
				},
				error: function(data, xhr){
					Swal.fire({
						icon: "error",
						title: "Ooopsss",
						text: xhr.responseText,
						footer: xhr.statusText
					});
				}
			});
		}
	</script>
</script>