<script type="text/template" id="chat_details-template">
    <input type="hidden" id="chat_hidden_id" value="<%%= as_admin ? 'admin_' : '' %>detail_<%%= channel.id %>">
    <div>
        <div>
            <a style='position: absolute; right: 20px;' id="back_to_current_chat" onclick="ft_back_to_conversation(<%%= as_admin %>)">
                X
            </a>
        </div>
        <div style='overflow-y: auto; height: auto; max-height: 60vh;'>
            <div id="participants_to_add">
            </div>
            <div id="list_of_participants">
            </div>
            <div id="participants_to_unban">
            </div>
        </div>
    </div>
    <script>
        var channel = {};
        channel["id"] = <%%= channel.id %>;
        function ft_back_to_conversation(as_admin)
        {
            var channel_name = <%%= JSON.stringify(channel) %>;
            if (!as_admin)
                chatview.setElement("#chat_area").render_chat_main(<%%= JSON.stringify(channel) %>);
            else
                chatview.setElement("#chat_area").render_admin_chat_view(<%%= JSON.stringify(channel) %>);
        }
        var User = Backbone.Model.extend({
            urlRoot: '/users'
        });
        var user = new User();
        user.fetch(
        {
            data: {users_to_get: "not_participants", channel_id: <%%= channel.id %>},
            success: function(data)
            {
                data = data.toJSON();
                var show_div = $("#participants_to_add");
                show_div.empty();
                show_div.append("<p>Participants To Add</p>");
                var i = 0;
                while (i < Object.keys(data).length)
                {
                    show_div.append("<div><button onclick='ft_add_participant(" + data[i].id + ", <%%= as_admin %>)'>" + data[i].name + "</button></div>");
                    i++;
                }
            }
        });
        var user2 = new User();
        user2.fetch(
        {
            data: {users_to_get: "participants", channel_id: <%%= channel.id %>},
            success: function(data1)
            {
                var ChannelParticipation = Backbone.Model.extend({
                    urlRoot: '/channel_participations'
                });
                var channel_participation = new ChannelParticipation();
                channel_participation.fetch({
                    data: {user_id: <%== current_user.id %>, receiver_id: <%%= channel.id %>},
                    success: function(data2)
                    {
                        var user_participation = data2.toJSON();
                        data1 = data1.toJSON();
                        var show_div = $("#list_of_participants");
                        show_div.empty();
                        show_div.append("<p>list of participants</p>")
                        channel_participation = new ChannelParticipation();
                        channel_participation.fetch({
                            data: {type: "all", receiver_id: <%%= channel.id %>},
                            success: function(data3){
                                data3 = data3.toJSON();
                                var i = 0;
                                while (i < Object.keys(data1).length)
                                {
                                    show_div.append("<div style='display: flex;'><a href='/#profil/"+ data1[i].id +"'>" + data1[i].name + "</a>" +
                                                    (<%%= as_admin %> && !data3[data1[i].id].is_owner ? "<button onclick='ft_ownerize(" + data1[i].id + ")'>Ownerize</button>" : "") +//a finir ownerize
                                                    ((<%%= as_admin %> || user_participation.is_owner) && !data3[data1[i].id].is_admin ? "<button onclick='ft_adminize(" + data1[i].id + ", <%%= as_admin %>)'>Adminize</button>" : "") +
                                                    ((<%%= as_admin %> || user_participation.is_owner) && !data3[data1[i].id].is_owner && data3[data1[i].id].is_admin ? "<button onclick='ft_unadminize(" + data1[i].id + ", <%%= as_admin %>)'>Unadminize</button>" : "") +
                                                    (<%%= as_admin %> || (user_participation.is_admin && !data3[data1[i].id].is_owner && <%== current_user.id %> != data1[i].id) ?
                                                        "<button onclick='ft_ban(" + data1[i].id + ", <%%= as_admin %>)'>Ban</button>"+
                                                        "<div>"+
                                                        "<select id='muteTime'>"+
                                                        "<option>1 minutes</option>"+
                                                        "<option>5 minutes</option>"+
                                                        "<option>10 minutes</option>"+
                                                        "<option>30 minutes</option>"+
                                                        "<option>1 hours</option>"+
                                                        "<option>2 hours</option>"+
                                                        "</select>"+
                                                        "<button onclick='ft_mute(" + data1[i].id + ")'>mute</button>"+
                                                        "</div>" : "") +
                                                    (<%%= as_admin %> || (user_participation.is_admin && !data3[data1[i].id].is_owner && <%== current_user.id %> != data1[i].id) ? "<button onclick='ft_kick(" + data1[i].id + ", <%%= as_admin %>)'>kick</button>" : "") +
                                                    "</div>");
                                    i++;
                                }
                                if (user_participation.is_admin || <%%= as_admin %>)
                                {
                                    var user = new User();
                                    user.fetch({
                                        data: {users_to_get: "banned_participants", channel_id: <%%= channel.id %>},
                                        success: function(data)
                                        {
                                            data = data.toJSON();
                                            var show_div = $("#participants_to_unban");
                                            show_div.empty();
                                            show_div.append("<p>Participants To Unban</p>");
                                            var i = 0;
                                            while (i < Object.keys(data).length)
                                            {
                                                show_div.append("<div><button onclick='ft_unban(" + data[i].id + ", <%%= as_admin %>)'>" + data[i].name + "</button></div>");
                                                i++;
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    }
                });
            }
        });
        function ft_add_participant(id, as_admin)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.save(
            {
                user_id: id,
                receiver_id: <%%= channel.id %>,
                name: "<%%= channel.name %>",
                scope: "<%%= channel.scope %>",
                added: true
            },
            {
                success: function()
                {
                    if (!as_admin)
                        chatview.render_chat_details(channel);
                    else
                        chatview.render_admin_chat_details(channel);
                }
            });
        }
        function ft_ownerize(user_id)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch({
                data: {user_id: user_id, receiver_id: <%%= channel.id %>},
                success: function(data){
                    data.set("type", "new_owner");
                    data.save({}, {
                        success: function(){
                            chatview.render_admin_chat_details(channel);
                        }
                    });
                }
            });
        }
        function ft_adminize(user_id, as_admin)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch(
            {
                data: {user_id: user_id, receiver_id: <%%= channel.id %>},
                success: function()
                {
                    channel_participation.set({is_admin: true});
                    channel_participation.save();
                    var notification = new Notification({
                        from_user_id: <%= current_user.id %>,
                        user_id: user_id,
                        table_type: "information",
                        message: "you got adminized in group: <%%= channel.name %>"
                    });
                    notification.save();
                    if (!as_admin)
                        chatview.render_chat_details(channel);
                    else
                        chatview.render_admin_chat_details(channel);
                }
            });
        }
        function ft_unadminize(user_id, as_admin)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch({
                data: {user_id: user_id, receiver_id: <%%= channel.id %>},
                success: function(data){
                    data.set("is_admin", "not");
                    data.save({}, {
                        success: function(){
                            if (!as_admin)
                                chatview.render_chat_details(channel);
                            else
                                chatview.render_admin_chat_details(channel);
                        }
                    });
                }
            });
        }
        function ft_kick(user_id, as_admin)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch({
                data: {user_id: user_id, receiver_id: <%%= channel.id %>},
                success: function(data)
                {
                    data.destroy({
                        success: function(){
                            var notification = new Notification({
                                from_user_id: <%== current_user.id %>,
                                user_id: user_id,
                                table_type: "information",
                                message: "you got kicked from: <%%= channel.name %>"
                            });
                            notification.save();
                            //if (!as_admin)
                            //    chatview.render_chat_details(channel);
                            //else
                            //    chatview.render_admin_chat_details(channel);
                        }
                    });
                }
            });
        }
        function ft_ban(user_id, as_admin)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch(
            {
                data: {user_id: user_id, receiver_id: <%%= channel.id %>},
                success: function(data)
                {
                    data.set("status", "banned");
                    channel_participation.save({},
                    {
                        success: function()
                        {
                            var notification = new Notification({
                                from_user_id: <%== current_user.id %>,
                                user_id: user_id,
                                table_type: "information",
                                message: "you got banned from group: <%%= channel.name %>"
                            });
                            notification.save();
                            if (!as_admin)
                                chatview.render_chat_details(channel);
                            else
                                chatview.render_admin_chat_details(channel);
                        }
                    });
                }
            });
        }
        function ft_mute(id)
        {
            var muteTime = $("#muteTime").val();
            var array_time = muteTime.split(' ');
            var minutes = (array_time[1] == "minutes" ? array_time[0] * 1 : array_time[0] * 60);
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch({
                data: {user_id: id, receiver_id: <%%= channel.id %>},
                success: function(data){
                    data.set("minutes", minutes);
                    channel_participation.save();
                }
            })
        }
        function ft_unban(id, as_admin)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch({
                data: {user_id: id, receiver_id: <%%= channel.id %>},
                success: function(data){
                    data.set("status", "none");
                    data.save({},
                    {
                        success: function(){
                            var notification = new Notification({
                                from_user_id: <%== current_user.id %>,
                                user_id: id,
                                table_type: "information",
                                message: "you are no longer banned from group: <%%= channel.name %>"
                            });
                            notification.save();
                            if (!as_admin)
                                chatview.render_chat_details(channel);
                            else
                                chatview.render_admin_chat_details(channel);
                        }
                    });
                }
            });
        }
    </script>
</script>