<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Scope:</strong>
  <%= @channel.scope %>
</p>

<p>
  <strong>Password:</strong>
  <%= @channel.password %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @channel.owner_id %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
