<%= stylesheet_link_tag "style-header.css" %>

<% if (false) %> <!-- user not connected-->
	<%= render "pages/signin" %>

<% else %>
	<%= render "pages/navbar" %>

	<div class="container-fluide body-page" id="inside-page">
		<%= render "pages/log" %>
		<%= render "pages/live" %>
		<%= render "pages/play" %>
		<%= render "pages/guild" %>
		<%= render "pages/option" %>
		<%= render "pages/profil" %>
		<%= render "pages/tournament" %>
		<%= render "pages/war" %>
		<%= render "pages/all_guild" %>


		<%= render "pages/chat/param" %>
		<%= render "pages/chat/create" %>
		<%= render "pages/chat/main" %>
	</div>


<% end %>
