<html>
	<head>
		<title>Pong Contest</title>
		<%= stylesheet_link_tag "style-header.css" %>
	</head>

	<body>
		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="<%= root_path %>">
					<img src="<%= image_url('logo_1.png') %>" width="70" height="70" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active" id="text-menu">
							<a id="nav_to_live" class="nav-link live">Live</a>
						</li>
						<li class="nav-item" id="text-menu">
							<a id="nav_to_play" class="nav-link" >Play</a>
						</li>
						<li class="nav-item" id="text-menu">
							<a class="nav-link" id="nav_to_tournament">Tournament</a>
						</li>
						<li class="nav-item" id="text-menu">
							<a class="nav-link" id="nav_to_guild">Guild</a>
						</li>
						<li class="nav-item" id="text-menu">
							<a class="nav-link" id="nav_to_war">War</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" id="nav_to_profil">
								<svg width="3.6em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
								</svg>
							</a>
						  </li>
						<li class="nav-item">
							<a class="nav-link" id="nav_to_option">
								<svg width="3.4em" height="1.8em" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
						  		</svg>
							</a>
					  	</li>
						<li class="nav-item">
							<span class="badge badge-light"></span>
							<div class="dropdown">
								<a class="nav-link" href="#notification" id="nav_to_notif" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg width="3.4em" height="1.8em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
									</svg>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
									<p class="dropdown-item">
										<div class="drop">Notif 1</div>
										<a class="drop" href=""><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
										<path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
									  	</svg></a>
										<a class="drop" href=""><svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									  </svg></a>
									</p>
									<p class="dropdown-item">
										<div class="drop">Notif 2</div>
										<a class="drop" href=""><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
										<path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
									  	</svg></a>
										<a class="drop" href=""><svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									  </svg></a>
									</p>
									<p class="dropdown-item">
										<div class="drop">Notif 3</div>
										<a class="drop" href=""><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
										<path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
									  	</svg></a>
										<a class="drop" href=""><svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									  </svg></a>
									</p>
									<p class="dropdown-item">
										<div class="drop">Notif 4</div>
										<a class="drop" href=""><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
										<path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
									  	</svg></a>
										<a class="drop" href=""><svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									  </svg></a>
									</p>
							 	</div>
							</div>
					  	</li>

					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluide body-page" id="inside-page">
			<%= render "pages/live" %>
			<%= render "pages/play" %>
			<%= render "pages/guild" %>
			<%= render "pages/option" %>
			<%= render "pages/profil" %>
			<%= render "pages/profil2" %>
			<%= render "pages/tournament" %>
			<%= render "pages/war" %>
		</div>
	</body>


<script>

	$( "#nav_to_live" ).on( "click", function() {
		Backbone.history.navigate("/live", {trigger: true});
	});

	$( "#nav_to_play" ).on( "click", function() {
		Backbone.history.navigate("/play", {trigger: true});
	});

	$( "#nav_to_guild" ).on( "click", function() {
		Backbone.history.navigate("/guild", {trigger: true});
	});

	$( "#nav_to_option" ).on( "click", function() {
		Backbone.history.navigate("/option", {trigger: true});
	});

	$( "#nav_to_profil" ).on( "click", function() {
		Backbone.history.navigate("/profil", {trigger: true});
	});

	$( "#nav_to_tournament" ).on( "click", function() {
		Backbone.history.navigate("/tournament", {trigger: true});
	});

	$( "#nav_to_war" ).on( "click", function() {
		Backbone.history.navigate("/war", {trigger: true});
	});

	var SessionModel = Backbone.Model.extend({
		defaults: {
			id : '',
			user_id : '',
			token : '',
			time_out : ''
		}

	});

	var sessionmedel = new SessionModel({
		id : '42',
		user_id : '1',
		token : '42',
		time_out : '0'
	});

  var LiveView = Backbone.View.extend({
	  el : '#inside-page',
	  template: _.template($('#live-template').html()),
	 /* template: _.template($('#chat_main-template').html()), // append les deux template en 1*/
  
	  initialize : function() {
		console.log("LiveView created");
	  },
  
	  render : function() {
		this.$el.html(this.template);
		console.log("Render Live");
		return this;

	  }
  });

  var PlayView = Backbone.View.extend({
	  el : '#inside-page',
	  template: _.template($('#play-template').html()),
  
	  initialize : function() {
		  console.log("PlayView created");
	  },
  
	  render : function() {
		this.$el.html(this.template);
		  console.log("Render Play");
		  return this;
	  }
  });

	  
  var GuildView = Backbone.View.extend({
	  el : '#inside-page',
	  template: _.template($('#guild-template').html()),
  
	  initialize : function() {
		  console.log("GuildView created");
	  },
  
	  render : function() {
		this.$el.html(this.template);
		  console.log("Render Guild");
		  return this;
	  }
  });

  var OptionView = Backbone.View.extend({
	  el : '#inside-page',
	  template: _.template($('#option-template').html()),
  
	  initialize : function() {
		  console.log("OptionView created");
	  },
  
	  render : function() {
		this.$el.html(this.template);
		  console.log("Render Option");
		  return this;
	  }
  });

  var ProfilView = Backbone.View.extend({
	  el : '#inside-page',
	  template: _.template($('#profil-template').html()),
  
	  initialize : function() {
		  console.log("ProfilView created");
	  },
  
	  render : function() {
		this.$el.html(this.template);
		  console.log("Render Profil");
		  return this;
	  }
  });

  var TournamentView = Backbone.View.extend({
	  el : '#inside-page',
	  template: _.template($('#tournament-template').html()),
  
	  initialize : function() {
		  console.log("TournamentView created");
	  },
  
	  render : function() {
		this.$el.html(this.template);
		  console.log("Render Tournament");
		  return this;
	  }
  });

  var WarView = Backbone.View.extend({
	  el : '#inside-page',
	  template: _.template($('#war-template').html()),
  
	  initialize : function() {
		  console.log("WarView created");
	  },
  
	  render : function() {
		this.$el.html(this.template);
		  console.log("Render War");
		  return this;
	  }
  });
 
  var liveview = new LiveView();
  var playview = new PlayView();
  var guildview = new GuildView();
  var optionview = new OptionView();
  var profilview = new ProfilView();
  var tournamentview = new TournamentView();
  var warview = new WarView();
  
  var TestRouter = Backbone.Router.extend({
	routes: {
		'live': "ft_live",
		'play': "ft_play",
		'guild': "ft_guild",
		'option': "ft_option",
		'profil': "ft_profil",
		'tournament': "ft_tournament",
		'war': "ft_war",
	},
	
	ft_live: function() {
		liveview.render();
	},
	
	ft_play: function() {
		playview.render();
	},

	ft_guild: function() {
		guildview.render();
	},

	ft_option: function() {
		optionview.render();
	},

	ft_profil: function() {
		profilview.render();
	},

	ft_tournament: function() {
		tournamentview.render();
	},

	ft_war: function() {
		warview.render();
	},

	});
  
  var router = new TestRouter();
  Backbone.history.start();

  </script>

</html>
